header nav.navbar {
  @media (max-width: 767px) {
    padding: 0;
  }
}

header nav.navbar > .container {
  padding-right: calc(var(--bs-gutter-x) * 0.75);
  padding-left: calc(var(--bs-gutter-x) * 0.75);
}




/* Stiff Promotions branding */
span.branding {
  font-weight: 100;
  text-transform: uppercase;
  color: $black;

  .stiff {
    font-family: "Alpha Outline", sans-serif;
    // margin-right: 1px;
  }

  .promotions {
    font-family: "Alpha Medium", sans-serif;
  }
}


#site-logo {
  font-size: 64px;

  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 54px;
  }

  a {
    outline: none;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    span.branding {
      display: flex;
      flex-direction: column;

      .stiff {
        display: block;
        font-size: 50px;
        position: relative;
        top: 10px;      }

      .promotions {
        display: block;
        font-size: 23px;
        position: relative;
        top: -10px;
      }
    }
  }
}
