form {
  label {
    font-family: $headings-font-family;
    color: $black;
    font-size: 28px;
    margin-bottom: 8px;
  }

  .form-required::after {
    height: 10px;
  }

  .form-control,
  .form-select {
    border-radius: $border-radius-img;

    &:focus {
      border-color: #0D285B;
      box-shadow: inherit;
    }
  }
  
  .webform-element-description {
    position: relative;
    top: 2px;
  }

  /* Checkbox background colour */
  input.form-check-input:checked {
    background-color: $blue;
    border-color: $blue;
    accent-color: $blue;
  }

  .form-actions {
    margin-bottom: 30px;
  }

  .required-text {
    font-family: $headings-font-family;
    font-size: 15px;
    letter-spacing: 5%;

    .asterisk {
      font-size: 18px;
      color: $red;
      margin-right: 5px;
    }
  }

}

.form-item-message,
.form-item-legal {
  margin-bottom: 45px;
}

